.state-screen-container {
	padding: 0px 100px;
	display: flex;
	justify-content: space-between;
}

.cards-container {
	display: flex;
}

.stats-container {
	width: 500px;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 30px;
}

.stats-subcontainer {
	display: flex;
	justify-content: space-between;
}

.most-min-container {
	height: 500px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
