.nav-container {
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
}

.nav-logo {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 2.5rem;
	letter-spacing: 3px;
	color: #25233b;
}

.nav-icon-container {
	width: 440px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	border: 1px solid #ababab;
	border-radius: 20px;
}

.nav-icon-container p {
	font-size: 1rem;
	font-weight: bold;
	color: #29066b;
	padding: 15px;
	cursor: pointer;
	transition: 0.5s all ease;
	text-align: center;
	border-right: 1px solid #ababab;
}

.nav-icon-container p:nth-of-type(3) {
	border: none;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
}

.nav-icon-container p:nth-of-type(1) {
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}

.nav-icon-container p:hover {
	background-color: #280082;
	color: #8ed7ff;
}

.active-link {
	background-color: #280082;
	color: #8ed7ff !important;
}
